<%- layout('layouts/boilerplate') -%>

<body>
  <div class="container mb-5">
    <div class="row mt-2">
      <div class="col-8 offset-2 text-center">
        <h2><%= listing.title %></h2>
      </div>
    </div>

    <div class="row mt-2 ">
      <div class="col-8 offset-2">
        <div class="card show-card col-6 offset-3 listing-card">
          <img src="<%= listing.image || '/images/default.jpg' %>" class="card-img-top show-img" alt="listing_image">
          <div class="card-body">
            <p class="card-text">
              
              <%= listing.description %> <br>
              &#8377;<%= listing.price ? listing.price.toLocaleString('en-IN') : 'N/A' %>/night <br>
              <%= listing.location %> <br>
              <%= listing.country %> <br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark me-3">Edit</a>

      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
        <button class="btn btn-danger">Delete</button>
      </form>
      
      <hr/>
    </div>


    <div class="col-8 offset-2 mb-3">
      <h4>Leave a Review</h4>
      <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input class="form-range" id="rating" type="range" min="1" max="5" name="review[rating]">
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea class="form-control" id="comment" cols="30" rows="5" name="review[comment]" required></textarea>
          <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>


      <hr/>


      <p><b>All Reviews</b></p>
      <div class="row">
      <% for(review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">Smita Yadav</h5>
            <p class="card-text"> <%= review.comment %> </p>
            <p class="card-text"> <%= review.rating %> stars </p>
          </div>
          <form class="mb-3 mt-2" method="POST" action="/listings/<%= listing.id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      <% } %>
      </div>
    
    </div>
  </div>
</body>
